<div class="fields">
  <div class="one wide field">
  	<label>Item</label>
  	<%= f.text_field :item %>
  </div>
  
  <div class="eight wide field">
  	<label>Ementa</label>
  	<%= f.text_field :ement %>
  </div>
  
  <div class="eight wide field">
  	<label>Conteúdo</label>
  	<%= f.text_field :content %>
  </div>
</div>