 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#start, #end" ).datepicker({
    dateFormat: "dd/mm/yy"
});
  });
  </script>
 
<div class="ui container">
<!-- /app/views/disciplines/teaching_plans/newDate -->

<%= form_for([@discipline, @teaching_plan], url: {action: "newDate"}, method: 'get', html:{class: "ui form segment"}) do |f| %>
  <h2 class="ui dividing header">Cadastro de Periodo e Distribuição das Aulas</h2> 

  <div class="fields">
    <div class="five wide field">
      <label>Início do semestre</label>
      <%= f.text_field :start, :required => true, id:'start' %>
    </div>
    <div class="five wide field">
      <label>Final do semestre</label>
      <%= f.text_field :end, :required => true, id: 'end' %>
    </div>
      <div class="sixteen wide field">
         <h3 class="ui dividing centered header">Número de aulas por dia</h3> 
         <label>*Obs: Caso não tenha aula no dia preencha com 0</label>
        <div class="fields ui segment">
          <div class="three wide field">
            <label> Segunda</label>
            <input type="text" name="seg" id="seg" onkeypress="return SomenteNumero(event)" required />
          </div>
          <div class="three wide field">
           <label> Terça</label>
           <input type="text" name="ter" id="ter" onkeypress="return SomenteNumero(event)" required />
          </div>
          <div class="three wide field">
            <label> Quarta</label>
            <input type="text" name="qua" id="qua" onkeypress="return SomenteNumero(event)" required />
          </div>
          <div class="three wide field">
           <label> Quinta</label>
           <input type="text" name="qui" id="qui" onkeypress="return SomenteNumero(event)" required />
          </div>
          <div class="three wide field">
           <label> Sexta</label>
           <input type="text" name="sex" id="sex" onkeypress="return SomenteNumero(event)" required />
          </div>
        </div>
      </div>
  </div>


<div class="actions ui"> 
  <%= f.submit "Criar Plano de Ensino", class: 'ui primary button' %>
</div>
<% end %>

</div>
<!-- (...) -->