<div class="fields">
  <div class="one wide field">
    <label>Dia/Mês ou Semana</label>
    <%= f.text_field :day_month_week %>
  </div>
  
  <div class="eight wide field">
    <label>Conteúdo das Aulas</label>
    <%= f.text_field :content_classes %>
  </div>
  
  <div class="eight wide field">
    <label>Número de Aulas</label>
    <%= f.text_field :number_classes %>
  </div>

  <div><%=  link_to_remove_fields "Remover", f %></div>
</div>