<% if @response  %>
<div class="ui container">
  <div class="content">
    <%= render 'form' %>
  </div>
</div>
<script type="text/javascript">
  $(window).load(loadTabs());
</script>

<% else %>


<%= @response.inspect %>
<%= render 'newDate' %>

<% end %>

