<% if @response.class == NilClass %>
  <%= render 'newDate' %>
<% end %>

<% if @response.class != NilClass %>

  <div class="ui container">
    <div class="content">
      <%= render 'form' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(window).load(loadTabs());
</script>