<div class="ui container">
  <br><br><br>
  <div class="ui segment">
    <h2>Projeto final WEB5</h2>
  </div>
  <div class="fields">
    <p>O projeto final terá as seguintes avaliações:</p>
    Cobertura de testes (3 pontos); <br>
    Usabilidade (2 pontos); <br>
    Cumprimento dos requisitos (4 pontos); <br>
    Uso sensato de uma ferramenta de versionamento (1 ponto) <br>
    i18n (bonus 1 ponto) 
    Uso de tecnologias abordadas fora da sala (bônus 2 pontos) <br>
    O projeto deverá ser entregue até: <data> compactado, com versionamento <br>
    A avaliação será uma apresentação como na prova, e com duração máxima de 1 aula; <br>
    O desenvolvimento poderá ser individual ou em duplas, porém caso seja em duplas, a avaliação do uso da ferramenta de versionamento será mais rigorosa, e também deverá constar ambos os acadêmicos no versionamento. Utilização obrigatória de um git hosted. <br>
    Princípio do sistema:<br>
    O sistema é "single-user", ou seja, não há distinção de dados entre usuários; <br>
    O sistema deverá permitir o cadastro de informações para gerar relatórios chamado de "plano de ensino"; <br>
    Descrição de requisitos minimos   (funcionamento):<br>
    Seguir todo o modelo para criar os cadastros do sistema; <br>
    Ser possível gerar diferentes planos de ensinos de diferentes disciplinas, para diferentes turmas, para múltiplas instituições; <br>
    Para cada disciplina deverá ser cadastrado um professor responsável; <br>
    Cada disciplina possuirá conteúdos programáticos, com ordem de item, ementa, e conteúdo programático; <br>
    Essa disciplina possuirá uma carga horária numérica(uma contagem), para diferentes categorias(AT, AP, APS, AD, APCC), e deverá ser designado em quais dias da semana a disciplina será aplicada, e o número de aulas para cada dia. <br>
    Com base na informação de dias da semana e número de aulas, deverá ser possível distribuir em um calendário essa relação de dias; <br>
    Possibilidade de cadastrar também informações de dias excepcionais, onde não será possível distribuir aula nesse dia, ou então o conteúdo da aula será forçado para um evento. <br>
    Com base no número de tópicos da ementa, deverá informar ao usuário inconsistências, como: <br>
    Aulas faltantes conforme a carga horária (Ie.: Cadastrou 75 aulas, e na ementa são 77) <br>
    Tópicos faltantes para as aulas (As aulas foram relacionadas até o tópico 4 da ementa, mas ainda falta o tópico 5) <br>
  </div>
</div>