/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.rodape{
    position: absolute;
    bottom: 0;
    width:100%;
}

.field_with_errors{
        background: none repeat scroll 0% 0% red;
        color: #000000;  
        box-shadow: none;
        margin-bottom: 10px;
        width: 1000px;
}
.data{
    float: left;
    width: 100px;
    marginright: 5px;

}
.image_status{
	width: 10px;
}

.fundo{
	background: repeat scroll 100% 100% #F5F5F5;
    width:100%;
    heigth:100%;
    position: relative;
    overflor: hidden;
}


@import "semantic-ui";